@{
    ViewBag.Title = "Về chúng tôi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>


    <p>
        Chào mừng bạn đến với cửa hàng của chúng tôi! Chúng tôi là một cửa hàng thương mại điện tử chuyên cung cấp các sản phẩm thời trang chất lượng cao, từ quần áo hàng ngày cho đến các bộ trang phục sang trọng, phù hợp với mọi lứa tuổi và phong cách.
    </p>

    <p>
        Tại cửa hàng của chúng tôi, khách hàng luôn là ưu tiên hàng đầu. Chúng tôi cam kết mang đến những trải nghiệm mua sắm trực tuyến tuyệt vời nhất với các sản phẩm đa dạng, giá cả phải chăng và dịch vụ chăm sóc khách hàng tận tâm. Chúng tôi luôn cập nhật những xu hướng thời trang mới nhất và đảm bảo rằng mỗi sản phẩm đều được chọn lọc kỹ lưỡng để mang đến cho bạn sự thoải mái và tự tin khi mặc.
    </p>

    <p>
        Hãy khám phá bộ sưu tập của chúng tôi và tìm cho mình những món đồ yêu thích ngay hôm nay!
    </p>
</main>
